body{
    margin: 0;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
}

#homepage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

#top{
    display: flex;
    justify-content: center;
}

#howMany{
    width: 50px;
}

input{
    text-align: center;
}

#flexContainer{
    display: flex;
    justify-content: center;
}

#numberContainer{

    display: grid;
    grid-template-columns: repeat(19, 50px);
    grid-template-rows: repeat(5, 50px);
    gap: 3px;
    margin-top: 20px;

}

.numberBox{
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border-radius: 10px;
    font-size: 20px;
}

#standardContainer{

    display: flex;
    gap: 10px;
    height: 30px;
    width: 150px;

}



#standardContainer button{
    width: 40%;
}

